flow-examples/flows/Lead_Entry_Flow-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AddToDataString</name>
        <label>AddToDataString</label>
        <locationX>708</locationX>
        <locationY>212</locationY>
        <assignmentItems>
            <assignToReference>DataArr</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fieldDataForm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BuildDataStringLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignErrorMsg</name>
        <label>AssignErrorMsg</label>
        <locationX>284</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>ResultMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateResultScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSuccessMsg</name>
        <label>AssignSuccessMsg</label>
        <locationX>108</locationX>
        <locationY>574</locationY>
        <assignmentItems>
            <assignToReference>ResultMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lead Record Created With Id {!LeadId}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateResultScreen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Lead_Id_Selection</name>
        <label>Check Lead Id Selection</label>
        <locationX>477</locationX>
        <locationY>464</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Lead_Id_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExistingLeadEdit</targetReference>
            </connector>
            <label>Lead Id Not Null</label>
        </rules>
        <rules>
            <name>Lead_Id_IS_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LeadCreate</targetReference>
            </connector>
            <label>Lead Id IS Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Matching_Leads_Results</name>
        <label>Matching Leads Results</label>
        <locationX>185</locationX>
        <locationY>208</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Matching_Leads_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LeadRecs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BuildDataStringLoop</targetReference>
            </connector>
            <label>Matching Leads Found</label>
        </rules>
        <rules>
            <name>Matching_Leads_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadRecs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LeadCreate</targetReference>
            </connector>
            <label>Matching Leads Not Found</label>
        </rules>
    </decisions>
    <formulas>
        <name>columnNameForm</name>
        <dataType>String</dataType>
        <expression>&quot;Id,id,text;First Name,firstname,text;Last Name,lastname,text;Company,company,text;Email,email,email&quot;</expression>
    </formulas>
    <formulas>
        <name>fieldDataForm</name>
        <dataType>String</dataType>
        <expression>{!lead.Id}&amp;&quot;,&quot;&amp;{!lead.FirstName}&amp;&quot;,&quot;&amp;{!lead.LastName}&amp;&quot;,&quot;&amp;{!lead.Company}&amp;&quot;,&quot;&amp;{!lead.Email}</expression>
    </formulas>
    <interviewLabel>Lead Entry Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Entry Flow</label>
    <loops>
        <name>BuildDataStringLoop</name>
        <label>BuildDataStringLoop</label>
        <locationX>468</locationX>
        <locationY>208</locationY>
        <assignNextValueToReference>lead</assignNextValueToReference>
        <collectionReference>LeadRecs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddToDataString</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LeadSearchResults</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>185</locationX>
        <locationY>465</locationY>
        <assignRecordIdToReference>LeadId</assignRecordIdToReference>
        <connector>
            <targetReference>AssignSuccessMsg</targetReference>
        </connector>
        <faultConnector>
            <targetReference>AssignErrorMsg</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>CompanyCreate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>EmailCreate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name_Create</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name_Create</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>Search_for_Lead</name>
        <label>Search for Lead</label>
        <locationX>182</locationX>
        <locationY>103</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Matching_Leads_Results</targetReference>
        </connector>
        <filters>
            <field>LastName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>LeadRecs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Company</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <screens>
        <name>CreateResultScreen</name>
        <label>CreateResultScreen</label>
        <locationX>198</locationX>
        <locationY>676</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ResultDisplayText</name>
            <fieldText>{!ResultMsg}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>ExistingLeadEdit</name>
        <label>ExistingLeadEdit</label>
        <locationX>478</locationX>
        <locationY>585</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>leadEditHelp</name>
            <fieldText>Update any new information for the existig lead and click on the Save button below to save the record.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>leadEditScreen</name>
            <extensionName>c:FlowRecordEditCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recId</name>
                <value>
                    <elementReference>LeadId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>LeadCreate</name>
        <label>LeadCreate</label>
        <locationX>189</locationX>
        <locationY>346</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
        <fields>
            <name>LeadCreateHelp</name>
            <fieldText>Provide the below fields to and click Next to create the new lead record.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name_Create</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name_Create</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>LastName</elementReference>
            </defaultValue>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CompanyCreate</name>
            <dataType>String</dataType>
            <fieldText>Company</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EmailCreate</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>LeadSearchResults</name>
        <label>LeadSearchResults</label>
        <locationX>473</locationX>
        <locationY>344</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Lead_Id_Selection</targetReference>
        </connector>
        <fields>
            <name>SearchSelectionHelp</name>
            <fieldText>Select an existing lead record that is a match to the lead you want to enter and click Next. If results do not match at all, do not select a record and just click Next.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LeadSearchResTable</name>
            <extensionName>c:FlowDataTableCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnsStr</name>
                <value>
                    <elementReference>columnNameForm</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dataArr</name>
                <value>
                    <elementReference>DataArr</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>LeadId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
    </screens>
    <screens>
        <name>rtetest</name>
        <label>Enter Last Name to Start Search</label>
        <locationX>53</locationX>
        <locationY>11</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Search_for_Lead</targetReference>
        </connector>
        <fields>
            <name>SearchHelp</name>
            <fieldText>Enter the lead&apos;s last name or part of the last name to start the search</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LastName</name>
            <dataType>String</dataType>
            <fieldText>LastName</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>rtetest</startElementReference>
    <variables>
        <name>columnStrArr</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DataArr</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadRecs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>ResultMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
