flow-examples/flows/Multi_record_Edit_Flow_Example-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Account_as_Tab</name>
        <label>Add Account as Tab</label>
        <locationX>577</locationX>
        <locationY>246</locationY>
        <assignmentItems>
            <assignToReference>tabs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>accTabFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterate_through_contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Contact_Tab</name>
        <label>Add Contact Tab</label>
        <locationX>855</locationX>
        <locationY>247</locationY>
        <assignmentItems>
            <assignToReference>tabs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contactTabForm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterate_through_contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Opp_Tab</name>
        <label>Add Opp Tab</label>
        <locationX>937</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>tabs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oppTabForm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>iterate_through_opps</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>accTabFormula</name>
        <dataType>String</dataType>
        <expression>&quot;Account - &quot; &amp; {!accRec.Name} &amp; &quot;,c:FlowRecordEditCmp,editFormType;recordEdit,recId;&quot; &amp; {!accRec.Id}</expression>
    </formulas>
    <formulas>
        <name>contactTabForm</name>
        <dataType>String</dataType>
        <expression>&quot;Contact - &quot; &amp; {!contact.Name} &amp; &quot;,c:FlowRecordEditCmp,editFormType;recordEdit,recId;&quot; &amp; {!contact.Id}</expression>
    </formulas>
    <formulas>
        <name>oppTabForm</name>
        <dataType>String</dataType>
        <expression>&quot;Opp - &quot; &amp; {!oppRecords.Name} &amp; &quot;,c:FlowRecordEditCmp,editFormType;recordEdit,recId;&quot; &amp; {!oppRecords.Id}</expression>
    </formulas>
    <interviewLabel>Multi-record Edit Flow Example {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Multi-record Edit Flow Example</label>
    <loops>
        <name>iterate_through_contacts</name>
        <label>iterate through contacts</label>
        <locationX>741</locationX>
        <locationY>95</locationY>
        <assignNextValueToReference>contact</assignNextValueToReference>
        <collectionReference>contactRecs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Contact_Tab</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>iterate_through_opps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>iterate_through_opps</name>
        <label>iterate through opps</label>
        <locationX>667</locationX>
        <locationY>430</locationY>
        <assignNextValueToReference>oppRecords</assignNextValueToReference>
        <collectionReference>oppRecs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Opp_Tab</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Edit_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>292</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>accRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>321</locationX>
        <locationY>261</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunities</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accRec.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>contactRecs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunities</name>
        <label>Get Opportunities</label>
        <locationX>538</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Account_as_Tab</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accRec.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>oppRecs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Edit_Records</name>
        <label>Edit Records</label>
        <locationX>1100</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>tabCmps</name>
            <extensionName>c:FlowTabSetCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cmpAttrArr</name>
                <value>
                    <elementReference>tabs</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Search_for_an_Account</name>
        <label>Search for an Account</label>
        <locationX>88</locationX>
        <locationY>258</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <fields>
            <name>Account_Name</name>
            <dataType>String</dataType>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <startElementReference>Search_for_an_Account</startElementReference>
    <variables>
        <name>accId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contactRecs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>oppRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oppRecs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>singleTab</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tabs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
